<%- include('../partials/pt-br/header'); -%>
<%- include('../partials/pt-br/navbar'); -%>

    <section class="search">
        <div class="form-search">
            <h1 class="title-download">Baixar vídeo</h1>
            <form action="/search" method="post" class="form-url-search">
                <input type="text" name="url" id="url" class="url" placeholder="https://www.youtube.com/watch?v=ggG9ySCChYw" required>
                <button class="btn-search">Pesquisar</button>
                <select name="filter" class="filter">
                    <option value="" disabled>Selecione uma opção</option>
                    <option value="fullvideo">MP4</option>
                    <option value="audioonly">MP4 (Somente aúdio)</option>
                </select>
            </form>
        </div>
    </section>
<%- include('../partials/pt-br/footer'); -%>