/* Initial global */

body {
    background-color: #f9fbfb;
}

/* End global */

/* Initial navbar */

.menu {
    margin-top: 7%;
    background-color: #fffefe;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.list {
    display: flex;
    justify-content: center;
}

.item {
    margin: 10px;
    font-size: 1.5rem;
    transition: 0.5s;
}

.item:hover {
    scale: 1.05;
    transition: 0.5s;
}

.item::after {
    content: "";
    width: 0px;
    height: 1px;
    display: block;
    background-color: black;
    transition: 500ms;
}

.item:hover::after {
    width: 100%;
}

/* End navbar */

/* Initial index.ejs */

.search {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: #ffffff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.form-search {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title-download {
    padding-top: 8%;
    text-align: center;
    font-size: 3rem;
    text-shadow: 2px 1px 1px #2a2828;
    font-weight: 500;
}

.form-url-search {
    margin-top: 5%;
    width: 50%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding-bottom: 20px;
}

.url, .btn-search {
    margin: 10px;
}

.url {
    height: 50px;
    font-size: 25px;
    background-color: #fffefe;
}

.url:hover {
    border-color: rgb(232, 223, 223);
    opacity: 0.9;
}

.url:focus {
    outline-color: rgb(232, 223, 223);;
}

.btn-search {
    color: #FFFFFF;
    height: 40px;
    font-size: 20px;
    background-color: rgb(237, 65, 50);
    transition: 1s;
    font-weight: 700;
    border-radius: 10px;
}

.btn-search:hover {
    transition: 1s;
    scale: 1.025;
    cursor: pointer;
}

.btn-search:active {
    scale: 1;
    transition: 0.1s;
}

.filter {
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    font-weight: 600;
    border-radius: 10px;
    text-align: center;
}

option {
    font-size: 20px;
    font-weight: 600;
}

/* End index.ejs */

/* Initial video.ejs */

.download {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-download h2 {
    font-size: 2rem;
}

iframe {
    margin-top: 3%;
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.form-url-download {
    display: flex;
    flex-direction: column;
}

.btn-download {
    color: #FFFFFF;
    height: 40px;
    font-size: 20px;
    background-color: rgb(237, 65, 50);
    transition: 1s;
    font-weight: 700;
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
}

.btn-download:hover {
    transition: 1s;
    scale: 1.025;
    cursor: pointer;
}

.btn-download:active {
    scale: 1;
    transition: 0.1s;
}

/* End video.ejs */

/* Initial about.ejs */

.container {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.about .container h1 {
    font-size: 3rem;
}

/* End about.ejs */

/* Initial footer */

footer {
    display: flex;
    text-align: center;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 2.5%;
}

footer a {
    color: #42939e;
    text-decoration: underline;
}

footer a:hover {
    color: black;
}

footer p {
    font-size: 1.2rem;
}

/* End footer */

/* Initial error.ejs */

.error {
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error h1 {
    font-size: 1.3rem;
}

.message-error {
    margin-top: 2%;
    font-size: 1.2rem;
}

/* End error.ejs */

/* Initial invalid-url.ejs */

.invalid-url {
    margin-top: 5%;
}

.invalid-url h1 {
    font-size: 1.3rem;
    text-align: center;
}

.message-about {
    margin-top: 2%;
    font-size: 1.2rem;
}

.message-about i {
    text-decoration: underline;
}

/* End invalid-url.ejs */

/* Initial not-found.ejs */

.notfound {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.notfound h1 {
    font-size: 3rem;
}

.message-error {
    margin-top: 2%;
    font-size: 1.2rem;
}

/* End not-found.ejs */