<%- include('./partials/header'); -%>
<%- include('./partials/navbar'); -%>

    <section class="about">
        <div class="container">
            <h1>About</h1>
            <p class="message-about">This project is for educational purposes only and to add to my portfolio.</p>
            <p class="message-about">It is <i>not monetized.</i></p>
        </div>
    </section>
<%- include('./partials/footer'); -%>