<%- include('./partials/header'); -%>
<%- include('./partials/navbar'); -%>

    <section class="error">
        <h1>An error occurred, please verify that the URL is valid and try again.</h1>
        <% if (message) { %>
            <p class="message-error"><%= message %></p>
        <% } %>
    </section>
    <script>
        // setTimeout(() => {
        //     window.location.replace('/');
        // }, 5000)
    </script>
<%- include('./partials/footer'); -%>