<%- include('./partials/header'); -%>
<%- include('./partials/navbar'); -%>

    <section class="notfound">
        <h1 class="error">Page not found</h1>
        <p class="message-error"><%= message %>.</p>
    </section>
    <!-- <script>
        setTimeout(() => {
            window.location.replace('/');
        }, 5000);
    </script> -->
<%- include('./partials/footer'); -%>